@import "tailwindcss";
@import "katex/dist/katex.min.css";

@theme {
  --color-sage-50: #f4f7f5;
  --color-sage-100: #e8efea;
  --color-sage-200: #d3e2d8;
  --color-sage-300: #b2ccbc;
  --color-sage-500: #4a7c59;
  --color-sage-600: #3b6547;
  --color-sage-800: #223b2a;
  --color-sage-900: #16261b;
}

body {
  background-color: var(--color-sage-50);
  color: var(--color-sage-900);
}